@import url('./2-header.css');
@import url('./3-hero.css');
@import url('./4-skills.css');
@import url('./5-quote.css');
@import url('./6-projects.css');
@import url('./7-contac-form.css');
@import url('./8-footer.css');

/* ....ESTILOS GENERALES.... */
:root{
  --white-smoke: #f5f5f5;
  --radius-1: 10px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
/* ......................... */




