/* *****SECTION PRESENTATION HERO***** */
html,
body{
  color: whitesmoke;
  width: 100%;
  height: 200%;
  background-color: black;
  /* overflow-x: hidden; */
}

.container-hero-about{
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#hero-title-about{
  width: 100%;
  color: aliceblue;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.container-hero-about .hero-content-about{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-hero-about .hero-content-about .hero-paragraph-about{
  width: 80%;
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
  margin: 0;
}

.container-hero-about .hero-button-what-do-I-do-about{
  color: red;
  border: 2px solid red;
  width: 43%;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 1.9;
  margin-top: 30px;
}

/* *******************MEDIAS QUERIES******************* */

/* ................MEDIA QUERIE TABLET................ */


@media (min-width:768px){
  .container-hero-about{
    height: 750px;
  }
  
  .container-hero-about #hero-title-about{
    font-size: 60px;
  }
  
  .container-hero-about .hero-content-about 
  .hero-paragraph-about{
    width: 70%;
    font-size: 40px;
    line-height: 1.9;
  }

  .container-hero-about .hero-button-what-do-I-do-about{
    width: 25%;
    height: 50px;
    font-size: 20px;
    line-height: 2.4;
    margin-top: 8%;
  }

}

/* ................MEDIA QUERIE DESKTOP................ */
@media (min-width:1024px){

  .container-hero-about{
    height: 920px;
  }
  .container-hero-about #hero-title-about{
    font-size: 80px;
  }

  .container-hero-about .hero-content-about 
  .hero-paragraph-about{
    /* background-color: blueviolet; */
    width: 100%;
    font-size: 57px;
    line-height: 1.3;
  }

  .container-hero-about .hero-button-what-do-I-do-about{
    width: 28%;
    height: 60px;
    font-size: 28px;
    line-height: 2.1;
    margin-top: 7%;
  }

}

/* ................MEDIA QUERIE 4K................... */
@media (min-width:1440px){
  .container-hero-about #hero-title-about{
    font-size: 120px;
    color: red;
  }


}
/* main .container-hero-about{
  background-color:  rgb(215, 52, 15);
}

.container-hero-about #hero-title-about{
  border: 1px solid rgb(255, 255, 255);
}

.container-hero-about .hero-content-about{
  background-color:  rgb(226, 43, 180);
}

.hero-content-about .hero-paragraph-about{
  border: 1px solid rgb(255, 252, 245);
}

.hero-content-about .hero-button-what-do-I-do-about{
  border: 1px solid rgb(249, 249, 249);
} */
 