/* estilos generales */
fieldset,
input,
button{
  border: none;
}

input,
button,
textarea{
  border-radius: var(--radius-1);
}
/* ****SECTION CONTACT FORM**** */
main .container-contact{
  background-color: coral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contact #title-contact-me{
  border: 1px solid black;
  font-size: 38px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 30px 0px -10px 0px;
}

.container-contact .paragraph-contact{
  font-size: 18px;
  font-family:  'Lucida Sans', Arial;
  text-align: center;
  font-weight: lighter;
  line-height: 1.6;
  padding: 20px;
}

/* .......CONTACT....... */
.container-contact .links-contact{
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-top: 3%;
}

.container-contact .links-contact .wrapper-links{
  /* background-color: #ffff00; */
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin:0px 29px;
}

.container-contact .links-contact .contact{
  color: #ed2821;
  font-size: 26px;
}

.container-contact .links-contact p{
  font-size: 20px;
  margin: 0
}
/* .container-contact .links-contact p:nth-child(n){
  width: 70%;
  color: #edd521;
  ;
} */
/* background-color: #ab25ba; */
/* 
.container-contact .links-contact a:nth-child(n){
  background-color: #3affd4;
} */
/* .......FORM....... */
main .container-contact form{
  background-color: #710c5e;
  width: 80%;
  border-radius: 20px;
  margin-top: 12%;
  margin-bottom: 10%;
  padding: 10px;
}

.container-contact form fieldset{
  width: 90%;
  background-color: #710c5e;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
  gap: 5px;

>>>>>>> 27d85197a99397ac697bc3c4a93f368804c7534c
}

.container-contact fieldset label{
  color: var(--white-smoke);
  width: 80%;
  font-size: 18px;
  margin: auto;
}

form fieldset input{
  /* background-color: #50fff9; */
  width: 80%;
  height: 30px;
  font-size: 18px;
  margin: auto;
}

textarea{
  width: 80%;
  height: 40px;
  font-size: 20px;
  resize: none;
  margin: auto;
  margin-bottom: 10%;
}

::placeholder{
  color: #b7b3b3;
  text-align: center;
  line-height: 1.8;
}

form button{
  width: 40%;
  height: 30px;
  font-size: 14px;
  margin: auto;
  position:relative;
  top: -10px;
  left: 0;
  right: 0;
}
