/* *****FOOTER***** */
footer{
  background-color: #c41414;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ........ITEMS............ */
footer .footer-links-items{
  background-color: #eb3affe6;
  display: none;  /* links de las secciones (header-nav)*/
}

/* ........SOCIAL CONTACT............ */
footer .footer-social-contact{
   /* background-color: #c9b77c; */
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 26px 0px 0px 0px;
}

footer .footer-social-contact .social{
  color: var(--white-smoke);
  font-size: 1.7em;
  /* filter: drop-shadow(5px 25px 1px #b7ff00); */
}

/* ........COPYRIGTH............ */
footer .footer-copyright,
footer .paragraph-copyrigth{
  /* background-color: #b0195d;  */
  font-size: 1.1em;
  line-height: 1.6;
}

/* *******************MEDIAS QUERIES******************* */

/* ................MEDIA QUERIE TABLET*................ */

@media (min-width: 768px){
 footer{
  height: 300px;
 }

 footer .footer-links-items{
  background-color: #eb3affe6;
  width: 90%;
  font-size: 1.6em;
  display: flex;
  justify-content:space-evenly;
  padding: 0;
}
    
}



/* ................MEDIA QUERIE DESKTOP................ */
@media (min-width:1024px){
 
  

}
/* ................MEDIA QUERIE 4K................... */
