/* *******HEADER******* */
header{
  /* background-color: blue; */
  /* background: linear-gradient(#0b0a10, #9F1E83, #0B0B13); */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60%;
}

header .wrapper-logo-braida .logo-braida,
header .wrapper-logo-menu .logo-menu{
  width: 90%;
  border-radius: 50%;
  cursor: pointer;
}

header .wrapper-logo-braida .logo-braida{
  margin: 20% 6% 20% 25%;
}

header .wrapper-logo-menu .logo-menu{
  margin: 6% 25% 6% -15% ;
}

header .wrapper-menu-nav{
  display: none;
}

/* *******************MEDIAS QUERIES******************* */

/* ................MEDIA QUERIE TABLET*................ */

@media (min-width: 768px){
  header{
    /* background-color: red; */
    /* background: linear-gradient(#0b0a10,  #9F1E83, #0B0B13); */
    justify-content:flex-start;
    gap: 0px;
    /* z-index: 2; par si se utiliza
    position:sticky;
    position: fixed; */ 
  }

  header .wrapper-logo-braida{
    /* background-color: aquamarine; */
    width: 16%;
    height:120px;
  }
  
  header .wrapper-logo-braida .logo-braida{
    width:65%;
    margin: 16% 2% 0% 9%;
    border-radius: 50%;
  }
  
  header .wrapper-logo-menu .logo-menu{
    display: none;
  }
  
  /* .......NAV querie 768....... */
  header .wrapper-menu-nav{
    /* background-color: #ff9500; */
    width: 80%;
    display: flex;
  }
  
  header .wrapper-menu-nav ul{ 
    /* background-color: #68ef29fa; */
    width: 100%;
    font-size: 1.65em;
    font-weight:500;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
    
}

/* ................MEDIA QUERIE DESKTOP................ */
@media (min-width:1024px){
  /* header{
  background-color: blue;
  } color para ubicación de los elementos*/

  header .wrapper-logo-braida{
    /* background-color: aquamarine; */
    width: 15%;
    height: 143px;
  }
  
  header .wrapper-logo-braida .logo-braida{
    width: 70%;
    margin: 10% 2% 1% 10%;
  }

  /* .......NAV.-querie 1024...... */
  header .wrapper-menu-nav{
    /* background-color: green; */
    width: 83%;
  }

  header .wrapper-menu-nav ul{
    /* background-color: violet; */
    font-size: 2.1em;
    justify-content: flex-start;
    gap: 40px;
  }
}
/* ................MEDIA QUERIE 4K................... */
