/* *******QUOTE******* */
main blockquote{
 background-color: #dcee175a;
   /* border: 1px solid #d8d831; */
  /* background: linear-gradient(#0b0a10,  #9F1E83, #0B0B13); */
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

hr{
  width: 90%;
  height: 2px;
  /* margin: 30px 0px 10px ; */
  /* scroll-timeline-axis: ;
} */

}
blockquote .fa-quote-right{
  /* background-color: blue; */
  color: var(--white-smoke);
  font-size: 1.5em;
  margin: 10px 20px;
}

blockquote .paragraph-cite{
  /* background-color: red; */
  width: 80%;
  color: var(--white-smoke);
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 1.6;
  text-align: center;
  margin: 0px 0px 7px 0px;
}

/* *******************MEDIAS QUERIES******************* */

/* ................MEDIA QUERIE TABLET*................ */

@media (min-width: 768px){
  main blockquote{
    width: 90%;
    height: 490px;
  }

  blockquote .fa-quote-right{
    font-size: 4em;
    margin: 0px 20px 0px 20px;
  }

  blockquote .paragraph-cite{
    width: 90%;
    font-size: 2.3em;
    line-height: 1.6;
    margin: 0px 20px 6px 20px;
  }

}
  
/* ................MEDIA QUERIE DESKTOP................ */
@media (min-width:1024px){
  main blockquote{
    width: 90%;
    height: 790px;
  }
  
  blockquote .fa-quote-right{
    font-size: 7em;
    position: relative;
    top: 1%;
   
  }
  
  blockquote .paragraph-cite{
    width: 90%;
    font-size: 3em;
    line-height: 1.7;
  }
  
}

/* ................MEDIA QUERIE 4K................... */
