/* *****SECTION PROYECTS***** */
main #container-projects{
  /* background-color: #39dcce; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #container-projects #title-projects{
  /* background-color: #6f51aff2; */
  text-transform: uppercase;
  font-size: 1.6em;
  margin: 0;
}

/* .....CARDS PROJECTS..... */
main #container-projects .wrapper-cards-projects{
  /* background-color: #9b9e16; */
  background: linear-gradient(#0b0a10,  #9F1E83, #0B0B13);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

main #container-projects .wrapper-cards-projects .card{
  width: 70%;
}

/* ......ANIMACIÓN CARDS...... */
main #container-projects .wrapper-cards-projects 
.image-project-1,
.image-project-2,
.image-project-3,
.image-project-4{
  width: 100%;
  border-radius: 10px;
  /* margin: 8% 3% ; */
  box-shadow: 30px 40px 30px -10px #000000;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: slide;
  animation-range: entry 9% cover 50%;
  animation-fill-mode: both;
} 

@keyframes slide {
  from {
    opacity: 0;
    scale: 50%;
  }

  to{
    opacity: 1;
    scale: 100%;
  }
}

main #container-projects .wrapper-cards-projects .card .text-project{ 
  font-size: 1.7em;
  text-align: center;
  z-index: 2;
  margin-top: 10%;
} 

/* main #container-projects .paragraph-projects{
  background-color: chocolate;
  width: 90%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 1.3px;
} */

/* ESTILOS PARA VIDEOS */
/* .wrapper-cards-projects .video-project{
  width: 100%;
  position: relative;
  left: -1%;
} */

/* .wrapper-cards-projects 
.project-2,
.project-3,
.project-4{
  display: none;
} */

/* *******************MEDIAS QUERIES******************* */

/* ................MEDIA QUERIE TABLET*................ */

@media (min-width: 768px){

  
  
  /* .....CARDS PROJECTS TABLET ..... */
  
  main #container-projects #title-projects{
    background-color: red;
    font-size: 2.7em;
    margin: -4% 0% 5% 0%;
  }

  main #container-projects .wrapper-cards-projects{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  main #container-projects .wrapper-cards-projects .card{
    width: 39%;
    gap: 20px;
  }

}
  
/* ................MEDIA QUERIE DESKTOP................ */
@media (min-width:1024px){
   
  main #container-projects #title-projects{
    /* background-color: red; */
    font-size: 4em;
    margin: -11% 0% 5% 0%;
  }

  #container-projects .wrapper-cards-projects .card{
    /* background-color: #91d326; */
    width: 90%;
    box-shadow:  20px 10px  68px -60px #2e5996 ;
  }
  
  #container-projects .wrapper-cards-projects .card{
    /* background-color: #d3269f; */
    width: 10%;
    
    /* box-shadow:  20px 10px  68px -60px #2e5996 ; */
    
  }
}

/* ................MEDIA QUERIE 4K................... */


