/* *****SECTION PROYECTS***** */
main #container-projects{
  /* background-color: #475352; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

main #container-projects #title-projects{
  /* background-color: #6f51aff2; */
  width: 20%;
  height: 19x;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 53px;
  font-weight: 500;
  font-size: 3em;
  margin: 0;
  /* z-index: 1;
  position: relative;
  top: 20%;
  left: -5%; */
}

/* .....CARDS PROJECTS..... */

main #container-projects .wrapper-cards-projects{
  /* background-color: #cacd20; */
  background: linear-gradient(#0b0a10,  #9F1E83, #0B0B13);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  position: relative;
  top: -1450px;
  z-index: -1;
} 

#container-projects .wrapper-cards-projects .card{
  /* background-color: #d3269f; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 40px;
  z-index: 1;
  /* box-shadow:  20px 10px  68px -60px #2e5996 ; */
  
}

main #container-projects .wrapper-cards-projects 
.image-project-1,
.image-project-2,
.image-project-3,
.image-project-4{
  width: 100%;
  border-radius: 10px;
  margin: 8% 3% ;
  box-shadow: 30px 40px 30px -10px #000000;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: slide;
  animation-range: entry 9% cover 50%;
  animation-fill-mode: both;
} 

@keyframes slide {
  from {
    opacity: 0;
    scale: 50%;
  }
  
  to{
    opacity: 1;
    scale: 100%;
  }

}

.wrapper-cards-projects .card .text-project{
  font-size: 1.3em;
  text-align: center;
  margin: -6% 1% ;
  z-index: 1;
  margin-top: 1%;
  /* position: relative; */
  /* left: 5%; */
}

#container-projects .paragraph-projects{
  border: 1px solid #b5ecb2;
  width: 70%;
  font-size: 1em;
  font-weight: 4300;
  line-height: 1.9;
  letter-spacing: 1.3px;

}

/* ESTILOS PARA VIDEOS */
/* .wrapper-cards-projects .video-project{
  width: 100%;
  position: relative;
  left: -1%;
} */

/* .wrapper-cards-projects 
.project-2,
.project-3,
.project-4{
  display: none;
} */

/* *******************MEDIAS QUERIES******************* */

/* ................MEDIA QUERIE TABLET*................ */

@media (min-width: 768px){
  main #container-projects #title-projects{
    background-color: #714ebcfb;
    width: 9%;
    font-size: 4em;
    align-self: flex-start;
    /* position: relative;
    left: 3%; */
  }
  
  /* .....CARDS PROJECTS..... */
  
  main #container-projects .wrapper-cards-projects{
    /* background-color: #1b39e6; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  } 
  
  #container-projects .wrapper-cards-projects .card{
    /* background-color: #d3269f; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 40px;
    box-shadow:  20px 10px  68px -60px #2e5996 ;
  }
  
  main #container-projects .wrapper-cards-projects 
  .image-project-1,
  .image-project-2,
  .image-project-3,
  .image-project-4{
    width: 80%;
  } 
  
  .wrapper-cards-projects .card .text-project{
    font-size: 3em;
    text-align: center;
    margin: -6% 1% ;
    z-index: 1;
    /* position: relative; */
    /* left: 5%; */
  }

}

#container-projects .paragraph-projects{
  /* background-color: red; */
  width: 90%;
  font-size: 1em;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
}
  
/* ................MEDIA QUERIE DESKTOP................ */
@media (min-width:1024px){
  main #container-projects{
    background-color: #ff14ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

  }

  #container-projects .wrapper-cards-projects .card{
    background-color: #91d326;
    width: 90%;
    box-shadow:  20px 10px  68px -60px #2e5996 ;
  }
  
  #container-projects .wrapper-cards-projects .card{
    /* background-color: #d3269f; */
    width: 10%;
    
    /* box-shadow:  20px 10px  68px -60px #2e5996 ; */
    
  }
}

/* ................MEDIA QUERIE 4K................... */


