body{
  background-color: #f43f3f00;
  font-family: akshar, sans-serif;
}

/* CONFIGURACIONES GENERALES */
header nav .wrapper-menu-nav{
  list-style: none;
}

li{
  margin: auto;
}

a{
  font-size: 18px;
  letter-spacing: 3px;
  color: #33dbd0;
  text-decoration: none;
}

/* ESTILOS MOBILE FIRST */
/* HEADER */
header{
  background: linear-gradient(#0b0a10, #9F1E83, #0B0B13);
  width: 100%;
  height: 90px;
}

header .wrapper-logo{
  background-color: #ffee0000;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
} 

header .wrapper-logo .logo{
  width: 90%;
  border-radius: 50%;
}

/* NAV */
header nav .wrapper-menu-nav{
  background-color: #e2e2eb;
  list-style: none;
  display: none;  
}

/* MAIN */
main{
  background: linear-gradient(#1b1828, #691757, #0B0B13); 
  width: 100%;
  height: 900vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

/* SECCION DE PRESENTACION */
/* HERO */
main .container-hero-about-me{
  background-image: url(./images/logo-braida.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main .container-hero-about-me #title-about-me{
  background-color: #ee82ee00;
  width: 80%;
  font-weight: 300;
  margin: 0;
}

.container-hero-about-me .content-about-me{
  background-color: #0000ff00;
  width: 80%;
}

.paragraph-about-me{
  background-color: #de1b2f00;
}

.button-lo-que-hago{
  font-size: 18px;
}

/* SECCION DE CONOCIMIENTOS */
main .container-my-knowledge{
  background-color: #a5135c00;
  color: #e5f94d;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-my-knowledge #title-my-knowledge{
  font-size: 12px;
}

.container-my-knowledge .paragraph-my-knowledge{
  color: #f18f34;
}

.wrapper-cards-icons .card-image-icon{
  width:50%;
  border-radius: 30px;
}

.text-card-icon{
  background-color: #ffffff69;
  margin: 0;
}

/* SECCION DE PROYECTOS */
main #container-projects{
  background-color: #0e4151;
  height: 800px;
  display: flex;
  justify-content: space-between;
}

main #container-projects #title-projects{
  background-color: #6f51af00;
  width: 10%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 300;
  font-size: 35px;
  text-align: start;
  margin:31px 15px 1px;
}

main #container-projects .wrapper-paragraph-projects{
  background-color: #33dbd000;
  width: 80%;
  height: 180px;
}

main #container-projects .paragraph-projects{
  background-color: #f9636300;
  width: 90%;
  font-size: 12px;
  text-align: end;
  line-height: 1.5;
}

#container-projects .wrapper-cards-projects{
  background-color: #ff6d2f00;
  width:70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 39px;
  padding: 2px;
}

.wrapper-cards-projects .card-image-project-1{
  width:100%;
}

.text-card-project-1{
  margin: 0;
  padding: 10px;
}
/* MEDIA QUERIES */

/* TABLET */
@media (min-width: 768px){
  header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .wrapper-logo{
    background-color: #ff000000;
    width: 10%;
    margin: 0px 0px 0px -25%;
  }

  header .wrapper-logo .logo{
    width:70%;
    padding: 0;
  }
  
  header nav .wrapper-menu-nav{
  background-color: #e2e2eb00;
  width: 130%;
  height: 30%;
  display: flex;
  margin: 0px 0px 0px 15%;
  padding: 0;
}

.cards-icon-knowledge{
  background-color: #250530;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-icon-knowledge .wrapper-cards-icons{
  background-color:#60158200;
  width: 30%;
  height: 31%;
  align-items: center;;
}

.wrapper-cards-icons .card-image-icon{
  width:100%;
  border-radius:50%;
}

}

/* DESKTOP */
@media (min-width:1024px) and (max-width:2000px) {

  .cards-icon-knowledge{
    justify-content: space-between;
  }
  .cards-icon-knowledge .wrapper-cards-icons{
    width: 20%;
  }

}