body{
  background-color: #f43f3f;
  font-family: akshar, sans-serif;
}

/* CONFIGURACIONES GENERALES */
header nav .wrapper-menu-nav{
  list-style: none;
}

li{
  margin: auto;
}

a{
  font-size: 18px;
  letter-spacing: 3px;
  color: #33dbd0;
  text-decoration: none;
}

/* ESTILOS MOBILE FIRST */
/* HEADER */
header{
  background: linear-gradient(#0b0a10,  #9F1E83, #0B0B13);
  width: 100%;
  height: 70px;
}

header .wrapper-logo{
  background-color: #ffee0000;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
} 

header .wrapper-logo .logo{
  width: 90%;
  border-radius: 50%;
}

/* NAV */
header nav .wrapper-menu-nav{
  background-color: #e2e2eb;
  list-style: none;
  display: none;  
}

/* MAIN */
main{
  background: linear-gradient(#1b1828,  #691757, #0B0B13); 
  width: 100%;
  height: 900vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

/* SECCION DE PRESENTACION */
/* HERO */
main .container-hero-about-me{
  background-image: url(./images/logo-braida.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container-hero-about-me #title-about-me{
  background-color: violet;
  width: 80%;
  font-weight: 300;
  margin: 0;
}

.container-hero-about-me .content-about-me{
  background-color: blue;
  width: 80%;
}

.paragraph-about-me{
  background-color: #de1b2f;
}

.button-lo-que-hago{
  font-size: 18px;
}

/* SECCION DE CONOCIMIENTOS */
main .container-my-knowledge{
  background-color: #a5135c;
  color: #e5f94d;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-my-knowledge #title-my-knowledge{
  font-size: 12px;
}

.container-my-knowledge .paragraph-my-knowledge{
  color: #ffeede;
}

.wrapper-cards-icons .card-image-icon{
  width:100%;
}

.text-card-icon{
  background-color: #ffffff69;
  margin: 0;
}
/* .wrapper-cards .knowledge{
margin: 0;
} */

/* MEDIA QUERIES */

/* TABLET */
@media (min-width: 768px){
  header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .wrapper-logo{
    background-color: #ff000000;
    width: 10%;
    margin: 0px 0px 0px -25%;
  }

  header .wrapper-logo .logo{
    width:70%;
    padding: 0;
  }
  
  header nav .wrapper-menu-nav{
  background-color: #e2e2eb00;
  width: 130%;
  height: 30%;
  display: flex;
  margin: 0px 0px 0px 15%;
  padding: 0;
}

.cards-icon-knowledge{
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-icon-knowledge .wrapper-cards-icons{
  background-color:#60158200;
  width: 30%;
  height: 31%;
  align-items: center;;
}

.wrapper-cards-icons .card-image-icon{
  width:100%;
  border-radius:50%;
}

}

/* DESKTOP */
@media (min-width:1024px) and (max-width:2000px) {

  .cards-icon-knowledge{
    justify-content: space-between;
  }
  .cards-icon-knowledge .wrapper-cards-icons{
    width: 20%;
  }

}